.cards {
    margin: 0 auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin: 1rem auto;
    padding: 1rem 0;
    height: 3em;
    width: 30%;
    border-style: groove;
  }
  .card-name {
    justify-content: center;
    align-items: center;
  }
  
  .highlight {
    background-color: yellow;
  }
  
  .cards .edit-card,
  .cards .view-card {
    margin-top: 2rem;
  }
  

  .cards .edit-card {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
  }