@import './helpers.css';

* {
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.locations-page {
  display: grid;
  grid-template-columns: 30px 5fr;
}

.locations-page .cards {
  margin: 0;
}
.locations-page .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6vw;
  height: 100vh;
  transform: translateY(-10%);
}
.locations-page .sidebar > * {
  align-items: center;
}
.locations-page .sidebar button {
  min-width: 6rem;
}
footer .toggle-bar {
  height: 100%;
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

/* ================== */
/* BUTTONS  */
/* ================== */
.btn {
  display: inline-block;
  border: 0.1em solid #000;
  background-color: #ffffff;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-success,
.btn.btn-info,
.btn.btn-danger {
  color: #ffffff;
}
.btn.btn-success:hover,
.btn.btn-info:hover,
.btn.btn-danger:hover {
  filter: hue-rotate(180deg);
}

.btn.btn-success {
  background-color: #4caf50;
}
.btn.btn-info {
  background-color: #504cff;
}
.btn.btn-danger {
  background-color: #ff0000;
}

.btn.btn-save {
  margin-top: 1rem;
  display: block;
  margin: 2rem auto;
}