@import './helpers.css';

* {
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", "Segoe UI", "Oxygen","Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.locations-page {
  display: grid;
  grid-template-rows: 1fr auto;  
}

@media (min-width: 600px){
  .locations-page {
    grid-template-columns: 30px 5fr;
  }
  .locations-page .sidebar {
    height: 100vh;
    padding-top: 0
  }
}

.locations-page .cards {
  margin: 0;
}
.locations-page .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
  padding-left: 6vw;
  transform: translateY(-10%);
}
.locations-page .sidebar > * {
  align-items: center;
}
.locations-page .sidebar button {
  min-width: 6rem;
}
footer .toggle-bar {
  height: 100%;
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

/* ================== */
/* BUTTONS  */
/* ================== */
@import './buttons.css'