*,
html {
  box-sizing: border-box;
}
ul,
li {
  text-decoration: none;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.categories {
  margin: 0 auto;
}

.category {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin: 1rem auto;
  padding: 1rem 0;
  height: 3em;
  width: 30%;
  border-style: groove;
}
.category-name {
  justify-content: center;
  align-items: center;
}

.highlight {
  background-color: yellow;
}

.categories .edit-categories,
.categories .view-categories {
  margin-top: 2.5rem;
}

footer .toggle-bar {
  height: 100%;
  display: flex;
  color: white;
  background-color: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
}
.toggle-bar button {
}
/* ================== */
/* BUTTONS  */
/* ================== */
.btn {
  display: inline-block;
  border: 0.1em solid #000;
  background-color: #ffffff;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-success,
.btn.btn-info,
.btn.btn-danger {
  color: #ffffff;
}
.btn.btn-success:hover,
.btn.btn-info:hover,
.btn.btn-danger:hover {
  filter: hue-rotate(180deg);
}

.btn.btn-success {
  background-color: #4caf50;
}
.btn.btn-info {
  background-color: #504cff;
}
.btn.btn-danger {
  background-color: #ff0000;
}
