.App {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  height: 10vh;
}

main {
  grid-area: main;
  height: 90vh;
  margin: 0 5%;
}
