.mapbox.sidebar-ovelay {
  display: none;
}

@media (min-width: 500px) {
  .mapbox.sidebar-ovelay {
    display: inline-block;
    position: absolute;
    top: 85%;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    transform: translate3d(0, 3vh, 0);
    font-size: 0.7rem;
  }
}
